
<center> <h1> Liste des produits en ligne  </h1> </center>
<table class = "table">
  <tr>

<td>#ID</td>
<td>Chat</td>
<td>Description</td>
<td>Prix</td>
<td>Image</td>
<td>Pouvoir Administrateur</td>

  </tr>
</thead>
<tbody>
<% @items.each do |item| %>
<tr>
<td> <%= item.id %></td>
<td> <%= item.title %></td>
<td> <%= item.description %></td>
<td> <%= item.price %></td>
<td> <%= item.image_url %></td>
<td>
<a href="<%= edit_item_path(item.id)%>" class="btn btn-primary" type="submit"> Editer </a>
<a href="<%= item_path(item.id)%>" class="btn btn-danger" type="submit"
data-confirm="Êtes vous sûr de vouloir suppirmer votre item ?" data-method="DELETE"> Supprimer </a>
<td>
</tr>
<% end %>
</table>
<a href="<%= new_item_path%>" class="btn btn-succes" type="submit" > Ajouter un produit </a>

<hr>



  </tr>
</thead>
<a href="/categories"> Liste des catégories</a>
